<a href="https://colab.research.google.com/github/iancamleite/qfe/blob/master/Gr%C3%A1ficos_Acendimentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Formatação CA

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
sns.set_style('darkgrid')

In [0]:
df = pd.read_csv('CA_TunedS.csv',header=None)
df.head(20)

         0    1    2    3    4    5   ...        23   24   25        26   27   28
0   0.00000  0.0  0.0  0.0  0.0  0.0  ... -0.000020  0.0  0.0 -0.001114  0.0  0.0
1   0.00001  0.0  0.0  0.0  0.0  0.0  ...  0.001980  0.0  0.0  0.108880  0.0  0.0
2   0.00002  0.0  0.0  0.0  0.0  0.0  ...  0.003987  0.0  0.0  0.219320  0.0  0.0
3   0.00003  0.0  0.0  0.0  0.0  0.0  ...  0.006003  0.0  0.0  0.330210  0.0  0.0
4   0.00004  0.0  0.0  0.0  0.0  0.0  ...  0.008026  0.0  0.0  0.441550  0.0  0.0
5   0.00005  0.0  0.0  0.0  0.0  0.0  ...  0.010057  0.0  0.0  0.553330  0.0  0.0
6   0.00006  0.0  0.0  0.0  0.0  0.0  ...  0.012095  0.0  0.0  0.665560  0.0  0.0
7   0.00007  0.0  0.0  0.0  0.0  0.0  ...  0.014141  0.0  0.0  0.778240  0.0  0.0
8   0.00008  0.0  0.0  0.0  0.0  0.0  ...  0.016195  0.0  0.0  0.891360  0.0  0.0
9   0.00009  0.0  0.0  0.0  0.0  0.0  ...  0.018257  0.0  0.0  1.004900  0.0  0.0
10  0.00010  0.0  0.0  0.0  0.0  0.0  ...  0.020326  0.0  0.0  1.119000  0.0  0.0
11  0.00011  0.0  0.0  0.0  0.0  0.0  ...  0.022403  0.0  0.0  1.233400  0.0  0.0
12  0.00012  0.0  0.0  0.0  0.0  0.0  ...  0.024487  0.0  0.0  1.348300  0.0  0.0
13  0.00013  0.0  0.0  0.0  0.0  0.0  ...  0.026580  0.0  0.0  1.463700  0.0  0.0
14  0.00014  0.0  0.0  0.0  0.0  0.0  ...  0.028680  0.0  0.0  1.579500  0.0  0.0
15  0.00015  0.0  0.0  0.0  0.0  0.0  ...  0.030787  0.0  0.0  1.695800  0.0  0.0
16  0.00016  0.0  0.0  0.0  0.0  0.0  ...  0.032903  0.0  0.0  1.812500  0.0  0.0
17  0.00017  0.0  0.0  0.0  0.0  0.0  ...  0.035026  0.0  0.0  1.929600  0.0  0.0
18  0.00018  0.0  0.0  0.0  0.0  0.0  ...  0.037157  0.0  0.0  2.047200  0.0  0.0
19  0.00019  0.0  0.0  0.0  0.0  0.0  ...  0.039295  0.0  0.0  2.165300  0.0  0.0

[20 rows x 29 columns]

In [0]:
df.columns = ['Time','Wr','Wrr','Vs1','Vs2','Vs3','Vs1r','Vs2r','Vs3r','Vr1','Vr2','Vr3','Is1','Is2','Is3','Ir1','Ir2','Ir3','Ce','Tm','FluxoR','FluxoRr','IsdB','IsdBr','IsqB','IsqBr','VsdB','VsqB','ang_B']

In [0]:
df.to_excel('CA_TunedS.xlsx')

## Formatação CC

In [10]:
df = pd.read_csv('PID_Maq.csv',header=None)
df.head(20)

          0         1  2        3         4    5  6          7  8
0   0.00000  0.000000  0    0.000  0.000000  120  0   0.000000  0
1   0.00001  0.000000  0   12.000  0.010000  120  0   0.057139  0
2   0.00002  0.000571  0   23.904  0.019950  120  0   0.227070  0
3   0.00003  0.002842  0   35.713  0.029850  120  0   0.507600  0
4   0.00004  0.007918  0   47.427  0.039701  120  0   0.896560  0
5   0.00005  0.016884  0   59.048  0.049502  120  0   1.391800  0
6   0.00006  0.030802  0   70.575  0.059255  120  0   1.991300  0
7   0.00007  0.050715  0   82.011  0.068959  120  0   2.692800  0
8   0.00008  0.077643  0   93.354  0.078614  120  0   3.494500  0
9   0.00009  0.112590  0  104.610  0.088221  120  0   4.394300  0
10  0.00010  0.156530  0  115.770  0.097780  120  0   5.390100  0
11  0.00011  0.210430  0  126.840  0.107290  120  0   6.480100  0
12  0.00012  0.275230  0  137.830  0.116750  120  0   7.662300  0
13  0.00013  0.351860  0  148.720  0.126170  120  0   8.934900  0
14  0.00014  0.441200  0  159.530  0.135540  120  0  10.296000  0
15  0.00015  0.544160  0  170.250  0.144860  120  0  11.744000  0
16  0.00016  0.661600  0  180.890  0.154140  120  0  13.276000  0
17  0.00017  0.794360  0  191.430  0.163370  120  0  14.891000  0
18  0.00018  0.943270  0  201.900  0.172550  120  0  16.588000  0
19  0.00019  1.109200  0  212.270  0.181690  120  0  18.364000  0

In [11]:
df.columns = ['Time','Wr','Wrr','Ia','Ie','Va','Var','Ce','Tm']
df.head()

      Time        Wr  Wrr      Ia        Ie   Va  Var        Ce  Tm
0  0.00000  0.000000    0   0.000  0.000000  120    0  0.000000   0
1  0.00001  0.000000    0  12.000  0.010000  120    0  0.057139   0
2  0.00002  0.000571    0  23.904  0.019950  120    0  0.227070   0
3  0.00003  0.002842    0  35.713  0.029850  120    0  0.507600   0
4  0.00004  0.007918    0  47.427  0.039701  120    0  0.896560   0

In [0]:
df.to_excel('PID_Maq.xlsx')